@using LibCalBooker.LibCal;
@{
    ViewData["Title"] = "Temporary Rooms Testing Page";
}
<div class="text-center">
    <h1 class="display-4">Rooms Testing</h1>
    <p>This page tests the backend functionality of fetching Rooms!</p>
</div>
<div class="container">
    <div class="row">
        @foreach (var time in (List<TimeSlot>)ViewData["Times"])
        {
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Title</h5>
                            <p class="card-text">Rooms ID: @time.roomId</p>
                            <p class="card-text">Start Date: @time.startTime</p>
                            <p class="card-text">End Date: @time.endTime</p>
                            <p class="card-text">Checksum: @time.checksum</p>
                            <p class="card-text">className: @time.className</p>
                            <partial class="card-text">diamondName: @time.diamondName</partial>
                            <form asp-action="BookRoom" method="post">
                                <input type="hidden" name="roomId" value="@time.roomId" />
                                <input type="hidden" name="startTime" value="@time.startTime" />
                                <input type="hidden" name="endTime" value="@time.endTime" />
                                <input type="hidden" name="checksum" value="@time.checksum" />
                                <input type="hidden" name="className" value="@time.className" />
                                <input type="hidden" name="diamondName" value="@time.diamondName" />
                                <button type="submit" class="btn btn-primary">Book Room</button>
                            </form>

                        </div>
                    </div>
                </div>
        }
    </div>

</div>